[Desktop Entry]
Name=Controller Config
Comment=Controller input remapping tool
Exec=/usr/bin/controller-config
Terminal=false
Type=Application
Icon=/usr/share/controller-config/Icon.svg
Categories=System;
Keywords=gamepad;joystick;wheel;
